<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oxy.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="oxy.model.Score">
    <id column="Name" jdbcType="VARCHAR" property="name" />
    <result column="PaperID" jdbcType="INTEGER" property="paperid" />
    <result column="Subject" jdbcType="VARCHAR" property="subject" />
    <result column="SelectAnswer" jdbcType="VARCHAR" property="selectanswer" />
    <result column="SAQAnswer" jdbcType="VARCHAR" property="saqanswer" />
    <result column="Score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Name, PaperID, Subject, SelectAnswer, SAQAnswer, Score
  </sql>
  <select id="selectByExample" parameterType="oxy.model.ScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where Name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from score
    where Name = #{name,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="oxy.model.ScoreExample">
    delete from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="oxy.model.Score">
    insert into score (Name, PaperID, Subject, 
      SelectAnswer, SAQAnswer, Score
      )
    values (#{name,jdbcType=VARCHAR}, #{paperid,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, 
      #{selectanswer,jdbcType=VARCHAR}, #{saqanswer,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="oxy.model.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        Name,
      </if>
      <if test="paperid != null">
        PaperID,
      </if>
      <if test="subject != null">
        Subject,
      </if>
      <if test="selectanswer != null">
        SelectAnswer,
      </if>
      <if test="saqanswer != null">
        SAQAnswer,
      </if>
      <if test="score != null">
        Score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="paperid != null">
        #{paperid,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="selectanswer != null">
        #{selectanswer,jdbcType=VARCHAR},
      </if>
      <if test="saqanswer != null">
        #{saqanswer,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="oxy.model.ScoreExample" resultType="java.lang.Long">
    select count(*) from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update score
    <set>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.paperid != null">
        PaperID = #{record.paperid,jdbcType=INTEGER},
      </if>
      <if test="record.subject != null">
        Subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.selectanswer != null">
        SelectAnswer = #{record.selectanswer,jdbcType=VARCHAR},
      </if>
      <if test="record.saqanswer != null">
        SAQAnswer = #{record.saqanswer,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        Score = #{record.score,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update score
    set Name = #{record.name,jdbcType=VARCHAR},
      PaperID = #{record.paperid,jdbcType=INTEGER},
      Subject = #{record.subject,jdbcType=VARCHAR},
      SelectAnswer = #{record.selectanswer,jdbcType=VARCHAR},
      SAQAnswer = #{record.saqanswer,jdbcType=VARCHAR},
      Score = #{record.score,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="oxy.model.Score">
    update score
    <set>
      <if test="paperid != null">
        PaperID = #{paperid,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        Subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="selectanswer != null">
        SelectAnswer = #{selectanswer,jdbcType=VARCHAR},
      </if>
      <if test="saqanswer != null">
        SAQAnswer = #{saqanswer,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        Score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where Name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="oxy.model.Score">
    update score
    set PaperID = #{paperid,jdbcType=INTEGER},
      Subject = #{subject,jdbcType=VARCHAR},
      SelectAnswer = #{selectanswer,jdbcType=VARCHAR},
      SAQAnswer = #{saqanswer,jdbcType=VARCHAR},
      Score = #{score,jdbcType=INTEGER}
    where Name = #{name,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="oxy.model.Score">
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="PaperID" jdbcType="INTEGER" property="paperid" />
    <result column="Subject" jdbcType="VARCHAR" property="subject" />
    <result column="SelectAnswer" jdbcType="VARCHAR" property="selectanswer" />
    <result column="SAQAnswer" jdbcType="VARCHAR" property="saqanswer" />
    <result column="Score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Name, PaperID, Subject, SelectAnswer, SAQAnswer, Score
  </sql>
  <select id="selectByExample" parameterType="oxy.model.ScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="oxy.model.ScoreExample">
    delete from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="oxy.model.Score">
    insert into score (Name, PaperID, Subject, 
      SelectAnswer, SAQAnswer, Score
      )
    values (#{name,jdbcType=VARCHAR}, #{paperid,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, 
      #{selectanswer,jdbcType=VARCHAR}, #{saqanswer,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="oxy.model.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        Name,
      </if>
      <if test="paperid != null">
        PaperID,
      </if>
      <if test="subject != null">
        Subject,
      </if>
      <if test="selectanswer != null">
        SelectAnswer,
      </if>
      <if test="saqanswer != null">
        SAQAnswer,
      </if>
      <if test="score != null">
        Score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="paperid != null">
        #{paperid,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="selectanswer != null">
        #{selectanswer,jdbcType=VARCHAR},
      </if>
      <if test="saqanswer != null">
        #{saqanswer,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="oxy.model.ScoreExample" resultType="java.lang.Long">
    select count(*) from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update score
    <set>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.paperid != null">
        PaperID = #{record.paperid,jdbcType=INTEGER},
      </if>
      <if test="record.subject != null">
        Subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.selectanswer != null">
        SelectAnswer = #{record.selectanswer,jdbcType=VARCHAR},
      </if>
      <if test="record.saqanswer != null">
        SAQAnswer = #{record.saqanswer,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        Score = #{record.score,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update score
    set Name = #{record.name,jdbcType=VARCHAR},
      PaperID = #{record.paperid,jdbcType=INTEGER},
      Subject = #{record.subject,jdbcType=VARCHAR},
      SelectAnswer = #{record.selectanswer,jdbcType=VARCHAR},
      SAQAnswer = #{record.saqanswer,jdbcType=VARCHAR},
      Score = #{record.score,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="oxy.model.Score">
    <id column="SCid" jdbcType="INTEGER" property="scid" />
    <result column="Clname" jdbcType="VARCHAR" property="clname" />
    <result column="Cname" jdbcType="VARCHAR" property="cname" />
    <result column="Sname" jdbcType="VARCHAR" property="sname" />
    <result column="Score" jdbcType="VARCHAR" property="score" />
    <result column="Ranking" jdbcType="VARCHAR" property="ranking" />
    <result column="Comment" jdbcType="VARCHAR" property="comment" />
    <result column="Honor" jdbcType="VARCHAR" property="honor" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SCid, Clname, Cname, Sname, Score, Ranking, Comment, Honor
  </sql>
  <select id="selectByExample" parameterType="oxy.model.ScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where SCid = #{scid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from score
    where SCid = #{scid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="oxy.model.ScoreExample">
    delete from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="oxy.model.Score">
    insert into score (SCid, Clname, Cname, 
      Sname, Score, Ranking, 
      Comment, Honor)
    values (#{scid,jdbcType=INTEGER}, #{clname,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR}, 
      #{sname,jdbcType=VARCHAR}, #{score,jdbcType=VARCHAR}, #{ranking,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{honor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="oxy.model.Score">
    insert into score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scid != null">
        SCid,
      </if>
      <if test="clname != null">
        Clname,
      </if>
      <if test="cname != null">
        Cname,
      </if>
      <if test="sname != null">
        Sname,
      </if>
      <if test="score != null">
        Score,
      </if>
      <if test="ranking != null">
        Ranking,
      </if>
      <if test="comment != null">
        Comment,
      </if>
      <if test="honor != null">
        Honor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scid != null">
        #{scid,jdbcType=INTEGER},
      </if>
      <if test="clname != null">
        #{clname,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="ranking != null">
        #{ranking,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="honor != null">
        #{honor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="oxy.model.ScoreExample" resultType="java.lang.Long">
    select count(*) from score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update score
    <set>
      <if test="record.scid != null">
        SCid = #{record.scid,jdbcType=INTEGER},
      </if>
      <if test="record.clname != null">
        Clname = #{record.clname,jdbcType=VARCHAR},
      </if>
      <if test="record.cname != null">
        Cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.sname != null">
        Sname = #{record.sname,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        Score = #{record.score,jdbcType=VARCHAR},
      </if>
      <if test="record.ranking != null">
        Ranking = #{record.ranking,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        Comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.honor != null">
        Honor = #{record.honor,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update score
    set SCid = #{record.scid,jdbcType=INTEGER},
      Clname = #{record.clname,jdbcType=VARCHAR},
      Cname = #{record.cname,jdbcType=VARCHAR},
      Sname = #{record.sname,jdbcType=VARCHAR},
      Score = #{record.score,jdbcType=VARCHAR},
      Ranking = #{record.ranking,jdbcType=VARCHAR},
      Comment = #{record.comment,jdbcType=VARCHAR},
      Honor = #{record.honor,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="oxy.model.Score">
    update score
    <set>
      <if test="clname != null">
        Clname = #{clname,jdbcType=VARCHAR},
      </if>
      <if test="cname != null">
        Cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="sname != null">
        Sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        Score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="ranking != null">
        Ranking = #{ranking,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        Comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="honor != null">
        Honor = #{honor,jdbcType=VARCHAR},
      </if>
    </set>
    where SCid = #{scid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="oxy.model.Score">
    update score
    set Clname = #{clname,jdbcType=VARCHAR},
      Cname = #{cname,jdbcType=VARCHAR},
      Sname = #{sname,jdbcType=VARCHAR},
      Score = #{score,jdbcType=VARCHAR},
      Ranking = #{ranking,jdbcType=VARCHAR},
      Comment = #{comment,jdbcType=VARCHAR},
      Honor = #{honor,jdbcType=VARCHAR}
    where SCid = #{scid,jdbcType=INTEGER}
  </update>
</mapper>